/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --login-bg: #7fb3d5;
    --title-bg: #ffffff;
    --button-bg: #6C63FF;
    --light-pink: #e882e8;
    --image-bg: #d6eaf8;
}


.login-body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(94, 170, 215, 0.9528011888349089) 47%, rgba(8, 26, 45, 0.87156869583771) 100%);
}

/* login */
.login-container {
    height: 43.75em;
    width: 60em;
    margin: 6em auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.login-info-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 0.5rem;
    background-color: var(--login-bg);
}

.image-container {
    padding: 2rem;
    width: 50%;
    background-color: var(--image-bg);
    box-sizing: border-box;
}

.title {
    text-transform: capitalize;
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--title-bg);
}

.social-login {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

.social-login-element {
    width: 12.5rem;
    height: 3.75rem;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    border-radius: 5px;
    border: none;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-login-element img {
    width: 1.875rem;
    height: 1.875rem;
    position: relative;
    top: 0;
    left: -0.625rem;
}

.social-login-element:hover {
    background-color: #D6EAF8;
}

.login-info-container>p {
    font-size: 1.25em;
    margin-top: 1.5em;
}

.inputs-container {
    height: 40%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input,
.button {
    width: 90%;
    height: 3.125rem;
    font-size: 1em;
}

.input {
    padding-left: 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;
}

.input:hover {
    border: 2px solid var(--button-bg);
}

.button {
    width: 80%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: var(--button-bg);
    cursor: pointer;
}

.inputs-container p {
    margin: 0;
}

.span {
    color: var(--light-pink);
    font-weight: 600;
    cursor: pointer;
}


/* task state colors */
.asign__bg {
    background-color: #a569bd;
}

.process__bg {
    background-color: #d4ac0d;
}

.noRealizado__bg {
    background-color: #cd6155;
}



/* media queries */
@media screen and (max-width: 1000px) {
    .login-container {
        width: 70%;
        margin-top: 3rem;
    }

    .login-info-container {
        width: 100%;
        border-radius: 5px;
    }

    .image-container {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .login-container {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .login-container {
        height: 90%;
    }

    .social-login {
        flex-direction: column;
        align-items: center;
        height: 30%;
    }

    .login-info-container>p {
        margin: 0;
    }
}

/* sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: linear-gradient(180deg, rgba(0, 18, 36, 1) 0%, rgba(74, 91, 126, 1) 76%, rgba(16, 22, 46, 0.7847339619441527) 100%);
    /* background: #11101d; */
    z-index: 100;
    transition: all 0.5s ease;
}

.sidebar.close {
    width: 78px;
}

.sidebar .logo-details {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}

.sidebar .logo-details i {
    font-size: 30px;
    color: #fff;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}

.sidebar .logo-details .logo_name {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}

.sidebar.close .logo-details .logo_name {
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links {
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
}

.sidebar.close .nav-links {
    overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
    display: none;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li:hover {
    background: #1d1b31;
}

.sidebar .nav-links li .iocn-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar.close .nav-links li .iocn-link {
    display: block
}

.sidebar .nav-links li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow {
    display: none;
}

.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li a .link_name {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    transition: all 0.4s ease;
}

.sidebar.close .nav-links li a .link_name {
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #1d1b31;
    display: none;
}

.sidebar .nav-links li.showMenu .sub-menu {
    display: block;
}

.sidebar .nav-links li .sub-menu a {
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover {
    opacity: 1;
}

.sidebar.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}

.sidebar.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name {
    display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
    font-size: 18px;
    opacity: 1;
    display: block;
}

.sidebar .nav-links li .sub-menu.blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank {
    top: 50%;
    transform: translateY(-50%);
}

.sidebar .profile-details {
    position: fixed;
    bottom: 0;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1d1b31;
    padding: 12px 0;
    transition: all 0.5s ease;
}

.sidebar.close .profile-details {
    background: none;
}

.sidebar.close .profile-details {
    width: 78px;
}

.sidebar .profile-details .profile-content {
    display: flex;
    align-items: center;
}

.sidebar .profile-details img {
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: #1d1b31;
    transition: all 0.5s ease;
}

.sidebar.close .profile-details img {
    padding: 10px;
}

.sidebar .profile-details .profile_name,
.sidebar .profile-details .job {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
}

.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
    display: none;
}

.sidebar .profile-details .job {
    font-size: 12px;
}

.home-section {
    position: relative;
    /*  background: #E4E9F7; */
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}

.sidebar.close~.home-section {
    left: 78px;
    width: calc(100% - 78px);
}

.home-section .home-content {
    height: 60px;
    display: flex;
    align-items: center;
    background: rgb(207, 221, 250);
}

.home-section .home-content .bx-menu,
.home-section .home-content .text {
    color: #11101d;
    font-size: 35px;
}

.home-section .home-content .bx-menu {
    margin: 0 15px;
    cursor: pointer;
}

.home-section .home-content .text {
    font-size: 26px;
    font-weight: 600;
}

@media (max-width: 420px) {
    .sidebar.close .nav-links li .sub-menu {
        display: none;
    }
}

/* jerarquias */
.levelOne-role {
    font-size: 35px;
    color: #5dade2;
}

.levelTwo-role {
    font-size: 35px;
    color: #52be80;
}

.levelThree-role {
    font-size: 35px;
    color: #eb984e;
}

.levelOthers-role {
    font-size: 35px;
    color: #a569bd;
}


/* tareas asignadas */

.bg__section {
    height: 100%;
    background-color: #f8f9f9;
}

.wrapper {
    background: #fff;
    max-width: 400px;
    width: 100%;
    margin: 70px auto;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.wrapper header {
    font-size: 30px;
    font-weight: 600;
}

.wrapper .inputField {
    margin: 20px 0;
    width: 100%;
    display: flex;
    height: 45px;
}

.inputField input {
    width: 50%;
    height: 100%;
    outline: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 20px;
    padding-left: 15px;
    transition: all 0.3s ease;
}

.inputField input:focus {
    border-color: #34495e;
}

.inputField button {
    width: 50px;
    height: 100%;
    border: none;
    color: #fff;
    margin-left: 5px;
    font-size: 21px;
    outline: none;
    background: #34495e;
    cursor: pointer;
    border-radius: 3px;
    opacity: 0.9;
    pointer-events: none;
    transition: all 0.3s ease;
}

.inputField button:hover {
    background: #34495e;
}

.inputField button.active {
    opacity: 1;
    pointer-events: auto;
}

.wrapper .todoList {
    /* max-height: 250px; */
    overflow-y: auto;
}

.todoList li {
    position: relative;
    list-style: none;
    margin-bottom: 8px;
    background: #f2f2f2;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: default;
    overflow: hidden;
    word-wrap: break-word;
}

.todoList li .icon {
    position: absolute;
    right: -45px;
    top: 50%;
    transform: translateY(-50%);
    background: #e74c3c;
    width: 45px;
    height: 100%;
    text-align: center;
    color: #fff;
    padding: 10px 15px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    transition: all 0.2s ease;
}

.todoList li:hover .icon {
    right: 0px;
}

.wrapper .footer {
    display: flex;
    width: 100%;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}


/* mobile */

.container {
    padding: 15px;
}

.tarjeta {
    position: relative;
    padding: 15px 15px 10px;
    display: flex;
    flex-direction: column;

    border-radius: 20px;
    color: #fff;
    overflow: hidden;
}

.tarjetaB-bg {
    background: linear-gradient(to right, #80c1f2 0%, #7c9ef2 100%);
}

.tarjetaM-bg {
    background: rgb(249, 231, 159);
    background: linear-gradient(90deg, rgba(249, 231, 159, 1) 0%, rgba(247, 220, 111, 1) 84%);
}

.tarjetaA-bg {
    background: rgb(230, 176, 170);
    background: linear-gradient(90deg, rgb(252, 192, 185) 0%, rgb(250, 153, 142) 84%);

}

.tarjeta-title {
    color: rgb(66, 66, 66);
}

.puntos {
    align-self: flex-end;
    font-size: 30px;
}

.tarjeta img {
    width: 100%;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    margin-bottom: 16px;
}

.tarjeta-body {
    display: flex;
    justify-content: space-between;

}

.tarjeta-body h5,
.tarjeta-body p {
    margin: 0;
}

.tarjeta-body-item {
    display: flex;
}

.tarjeta-body .phone {
    margin-bottom: 20px;
    color: #4a4f5a;
}

.datos {
    display: flex;
    margin-bottom: 10px;
    /* font-size: 14px; */
}

.datos div {
    /*  margin-right: 10px; */
    text-align: justify;
    font-size: 18px;
}

.ranking {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.ranking h4 {
    color: rgb(66, 66, 66);
}

.circulo {
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: red;
    border-radius: 50%;
    right: 75px;
    bottom: -110px;
    z-index: 1;

}

.circuloB-bg {
    background: linear-gradient(to right, #98caf0 0%, #87a6f5 100%);
}

.circuloM-bg {
    background: linear-gradient(to right, #f8f6d6 0%, #faf5c8 100%);
}

.circuloA-bg {
    background: linear-gradient(to right, #f0d8d8 0%, #ebc7c7 100%);
}

.navbar-bg {
    background-color: #091B2F;
}

/* tables */
table {
    border-collapse: collapse;
    box-shadow: 0 5px 10px #e1e5ee;
    background-color: rgb(255, 255, 255);
    text-align: left;
    overflow: hidden;
}

table thead {
    box-shadow: 0 5px 10px #e1e5ee;
}

table th {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 15px;
    font-weight: 900;
   
}

table td {
    padding: 1rem 2rem;
}

table a {
    text-decoration: none;
    color: #2962ff;
}

table .status {
    border-radius: 0.2rem;
    background-color: red;
    padding: 0.2rem 1rem;
    text-align: center;
}

table .status-pending {
    background-color: #fff0c2;
    color: #a68b00;
}

table .status-paid {
    background-color: #c8e6c9;
    color: #388e3c;
}

table .status-unpaid {
    background-color: #ffcdd2;
    color: #c62828;
}

table .amount {
    text-align: right;
}

table tr:nth-child(even) {
    background-color: #f4f6fb;
}